---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<BaseLayout title={title} description={description} type="article">
	<article class="prose-wrap">
		<header class="article-header">
			<p class="article-header__date">
				<FormattedDate date={pubDate} />
				{
					updatedDate && (
						<span>
							{' '}
							· Обновлено <FormattedDate date={updatedDate} />
						</span>
					)
				}
			</p>
			<h1>{title}</h1>
			<p class="article-header__lead">{description}</p>
			<hr />
		</header>
		<div class="article-body">
			<slot />
		</div>
	</article>
</BaseLayout>
